body{
    margin:0;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
/* .w-50{
    width: 50%;
}
.text-center{
    text-align: center;
} */
header h1{
    color: whitesmoke;
    font-size: 40px;
    padding-left: 30px;
}
header{
    align-items: center;
    justify-content: space-between;
    background-color: darksalmon;
}
.logo img{
    max-width: 6rem;
    margin-right: 2rem;
    margin-left: 1rem;

}
ul.nav li{
    padding-right: 1.5rem;
}
.nav a{
    color: whitesmoke;
    font-size: 1.125rem;
}
.nav a:hover{
    color: darkslategray;
}
.jumbotron img{
    width: 100%;
    max-height: 33rem;
    /* max-height: 23rem; */
    margin-bottom: -4px;
}
.about-container{
    padding: 1rem 1rem 2rem;
    background: #d3d3dda0;
    text-align: center;
 }
 .about-container h2{
    color: darkslategray;
}
 .about-content{
    align-items: center;
    /* display: flex; */
}
.about-content img{
    max-width: 80%;
}
.about-content p{
    line-height: 1.5;
}
.w-50{
    width: 50%;
}
.text-center{
    text-align: center;
}